nav{
  --var-width: 2vmin;
  user-zoom: fixed;
  background-color: white;
  z-index: 2;
  margin: 0 10vmin;
  text-align: center;
  position: fixed;
  left: var(--var-width);
  right: var(--var-width);


  border-radius: 10px;
}

#topbarbuttons {
  display: flex;
  justify-content: center;
  padding: 0 1%;

  user-zoom: fixed;

  /* margin: 0 30% 0; */
  font-size: 2.5vmin;

}
#topbarbuttons li {
  list-style: none;
  width: 100%;
}

#topbarbuttons a {
  position: relative;

  color: black;
  user-zoom: fixed;


  text-decoration: none;
  display: flex;
  justify-content: center;

  margin: 14px;

  font-family: "IBM Plex Sans Thai", sans-serif;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.inativo a:hover {
  user-zoom: fixed;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.inativo a:hover::after{
  user-zoom: fixed;
  content: " ";
  width: 0%;
  height: 2px;
  background-color: rgba(73, 73, 73);
  position: absolute;

  left: 2;
  bottom: 0;

  transition: 0.2s ease-in-out;
  animation: increase 0.3s forwards;
}

.inativo a:not(hover)::after {
  animation: decrease 0.3s forwards;
}

.active a{
  position: absolute;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.active a::before{
  content: " ";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;

  animation: forwards 0.2s increase;


  left: 0;
  bottom: 0;
}

/* animations */

@keyframes increase {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

@keyframes decrease {
  from{
    width: 100%;
  }
  to{
    width: 0%;
  }
}

@media (min-width: 800px) {
  nav{
    --var-width: 25vmin;
  }
}